*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}

body{
    background: url(./img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
h1{
    text-align: center;
}
.container{
    background: white;
    width: 40%;
    margin: 100px auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 17px 78px rgba(00,0,0,0.6);
}

form{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

form > input, form > button{
    margin: 7px 0;
    padding: 12px 10px;
    border-radius:10px;
}

form > button{
    background: rgb(40, 230, 170);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.footer{
    text-align: center;

}
